html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif important;
}

img {
  max-width: 100%;
}

/* ----------HEADER------- */
.header {
  background-color: #1c2143;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  background-image: url("../imagenes/bannerH.png");
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  align-self: center;
  font-size: 20px;
}

.navul {
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.items {
  padding: 1rem;
  list-style-type: none;
  display: inline-block;
}

.items a {
  text-decoration: none;
  color: #2effeed0;
}

.fa-bars {
  display: none;
}

.closeenlace {
  display: none;
  list-style: none;
}

.header-logo {
  display: none;
  list-style: none;
}

/* -------BODY----- */
.texto-intro {
  display: flex;
  justify-content: center;
  color: #2e91e2;
  font-size: 35px;
  list-style: none;
  margin: 1rem;
  font-family: 'Akshar', sans-serif;
  font-weight: 600;
}

.texto {
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
  margin: 3rem auto;
  font-family: 'Times New Roman', Times, serif;
}

.imagenes1 {
  margin-left: 20%;
}

.graficas {
  margin-right: 1rem;
  size: 250%;
}

.link {
  display: flex;
  justify-content: center;
  font-size: 3ch;
  margin: 1rem;
  color: #00978bd0;
}

.fondos {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 8px;
  margin-left: 15%;
}

.table {
  font-family: 'Inconsolata', monospace;
}

.d-block w-100 {
  width: 80%;
  height: auto;
}

.carousel-inner {
  margin: 50px auto;
  width: 40%;
  text-align: center;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
}

.accordion-header h2, h2 {
  font-size: 100px;
}

.accordion-body {
  font-size: 20px;
}

.acordion {
  text-align: center;
  margin: 1rem 1rem;
}

.text-muted {
  color: #f3c081 !important;
  background-color: #04293A !important;
}

/* --------BOTONES-------- */
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(12, 199, 158, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #04293A;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.imagenesN {
  width: 400px;
  margin: 2rem;
}

.imagenN {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ------FAQ CARDS------- */
.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container__card .card__father {
  margin: 20px;
  perspective: 1000px;
}

.container__card .card__father:hover .card {
  transform: rotateY(180deg);
}

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
  border-radius: 20px;
}

.card .card__front {
  background-size: cover;
  background-position: center;
  background-color: #2e91e2;
  display: flex;
  flex-direction: column;
}

.card .card__front .body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.card .card__front .body__card_front h1 {
  color: #2effeed0;
  font-family: 'Inconsolata', monospace;
}

.card .card__back {
  transform: rotateY(180deg);
  background: #fff;
}

.card .card__back .body__card_back {
  padding: 20px;
  text-align: center;
  transform: translateZ(60px);
  font-size: 20px;
}

.card .card__back .body__card_back input {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.card .card__back .body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6;
}

.card .card__back .body__card_back h2 {
  margin-top: 20px;
  font-size: 20px;
  padding: 0%;
  font-family: 'Inconsolata', monospace;
}

.card__front, .card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
  padding: 0%;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

/* -----cards----- */
.container__card1 {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container__card1 .card__father1 {
  margin: 20px;
  perspective: 1000px;
}

.container__card1 .card__father1:hover .card1 {
  transform: rotateY(180deg);
}

.card1 {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.card1 .card__front1 {
  background-size: cover;
  background-position: center;
  background-color: #2e91e2;
  display: flex;
  flex-direction: column;
}

.card1 .card__front1 .body__card_front1 {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
}

.card1 .card__front1 .body__card_front1 h1 {
  color: #2effeed0;
  font-family: 'Inconsolata', monospace;
}

.card1 .card__back1 {
  transform: rotateY(180deg);
  background: white;
}

.card1 .card__back1 .body__card_back1 {
  padding: 20px;
  text-align: center;
  transform: translateZ(60px);
}

.card1 .card__back1 .body__card_back1 h2 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: black;
}

.card1 .card__back1 .body__card_back1 input {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms;
}

.card1 .card__back1 .body__card_back1 input :hover {
  box-shadow: 1px 1px 30px 0px #449de6;
}

.card__front1, .card__back1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

/* -------CONTACTO----- */
.formulario-c {
  background-color: aliceblue;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.formulario-c .formulario {
  padding: .8rem;
  overflow: hidden;
  color: #2d5261;
  width: 500px;
}

.formulario label, .formulario input, .formulario textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.formulario label {
  font-weight: 400;
}

.formulario input, .formulario textarea {
  border: none;
  border-bottom: 2px solid #04293A;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
  background-color: #cae6ff;
}

.formulario textarea {
  min-height: 100px;
}

input[type='submit'] {
  padding: 10px;
  border: none;
  background-color: #04293A;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* -----Contacto2----- */
.contacto {
  display: flex;
  margin-top: 2rem;
}

.contacto .texto-c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.texto-introc {
  display: flex;
  justify-content: center;
  font-size: 25px;
  list-style: none;
  margin-top: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textoc {
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
  margin-top: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icono-c {
  background-color: #04293A;
  color: #f3c081;
  width: 70%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 35px;
  margin-top: 4rem;
}

.table {
  background-color: #04293A;
  color: #f3c081;
}

/* media TABLET */
@media screen and (max-width: 1023px) {
  .texto-intro {
    font-size: 32px;
    text-align: center;
  }
  .texto {
    text-align: center;
  }
  .link {
    font-size: 2ch;
  }
  .contacto {
    flex-direction: column;
  }
  .texto-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  .icono-c {
    height: auto;
  }
}

/* media PHONE */
@media screen and (max-width: 600px) {
  .texto-intro {
    font-size: 25px;
    text-align: center;
  }
  .texto {
    font-size: 15px;
    text-align: center;
  }
  .textoN {
    font-size: 16px !important;
    text-align: center;
  }
  .textoG {
    font-size: medium;
  }
  .textoS {
    font-size: 18px !important;
  }
  .footer {
    font-size: 80%;
  }
  .link {
    font-size: 1ch;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    height: auto;
  }
  .nav {
    display: none;
    font-size: 18px !important;
    text-align: center;
  }
  .items {
    display: block;
  }
  .header-open {
    text-decoration: none;
  }
  .header-logo {
    display: block;
    width: 100%;
  }
  .fa-bars {
    display: block;
    font-size: 2rem;
    color: #f3c081;
    z-index: 100;
    align-self: flex-end;
    margin-left: 2px;
  }
  #lateral {
    display: block;
    background-color: #262626;
    width: 80%;
    height: 100vh;
    margin: 0;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0%;
    right: -100%;
    transition: right 0.7s;
  }
  #lateral:target {
    right: 0;
  }
  .navul {
    text-decoration: none;
  }
  .closeenlace {
    text-decoration: none;
    display: block;
    list-style: none;
    color: #f3c081;
    font-size: 184%;
    margin-top: 1rem;
  }
  .contacto {
    display: flex;
    flex-direction: column-reverse;
  }
  .texto-c {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto .texto-c {
    display: flex;
    flex-direction: column;
  }
  .formulario-c {
    width: auto;
    margin: 0 0;
    flex-direction: row;
  }
  .formulario {
    width: auto;
  }
  .textoc {
    font-size: 15px;
  }
  .cta span {
    font-size: 10px;
  }
  .cta:before {
    width: 45px;
    height: 45px;
  }
  .servicio {
    flex-direction: column-reverse !important;
  }
  .servicios {
    flex-direction: column !important;
  }
  .nosotrosT {
    flex-direction: column !important;
  }
  .imgN {
    width: auto;
    margin: 0 !important;
  }
  .accordion-button {
    font-size: 25px !important;
  }
  .accordion-body {
    font-size: 16px !important;
  }
  .fondos {
    width: 100%;
    margin: 8px 0;
  }
}

.accordion-button {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
  color: #2e91e2;
  background-color: aliceblue;
}

.textoN {
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
  margin: 2rem auto;
  font-family: 'Times New Roman', Times, serif;
}

.nosotrosT {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.nosotrosTE {
  display: flex;
  flex-direction: column;
}

.imagN {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgN {
  margin: 1rem 5rem;
  width: 400px;
}

.header {
  display: flex;
}

.container__card {
  display: flex;
}

.card__front {
  display: flex;
}

.body__card_front {
  display: flex;
}

.servicio {
  display: flex;
  flex-direction: row;
}

.servicios {
  display: flex;
  flex-direction: row;
}

.textoS {
  display: flex;
  justify-content: center;
  font-size: 20px;
  list-style: none;
  margin: 1.5rem auto;
  font-family: 'Times New Roman', Times, serif;
}
/*# sourceMappingURL=estilos.css.map */